<footer class="footer">

  <div class="footer-content">

    <div class="footer-left">
      <h3><a href="#">Ankit Yadav</a></h3>
      <p>Just trials</p>
    </div>

    <div class="footer-links">
      <a href="#">Home</a>
      <a href="SomeRepo/index.html">Some Repos</a>
	<!----
	<a href="Materials/index.html">Links and Pdfs</a>
	---->
    </div>

    <div class="footer-social">
      <a href="https://github.com/ankity1206" target="_blank">GitHub</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Ankit Yadav.</p>
  </div>

</footer>
