<footer class="footer">

  <div class="footer-content">

    <div class="footer-left">
      <h3>Ankit Yadav</h3>
      <p>Just trials</p>
    </div>

    <div class="footer-links">
      <a href="/index.html">Home</a>
	<!----
      <a href="/somerepo/index.html">Some Repos</a>
	----->
	<a href="/materials/index.html">Notes</a>
    </div>

    <div class="footer-social">
      <a href="https://github.com/ankity1206" target="_blank">GitHub</a>
	<a href="mailto:ispacefun@gmail.com" target="_blank">Email</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Ankit Yadav.</p>
  </div>

</footer>
